@font-face {
	font-family: OpenSans-Regular;
	src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: OpenSans-Light;
	src: url('fonts/OpenSans-Light.ttf');
}
@font-face {
	font-family: OpenSans-Bold;
	src: url('fonts/OpenSans-Bold.ttf');
}
@font-face {
	font-family: OpenSans-Semibold;
	src: url('fonts/OpenSans-Semibold.ttf');
}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
}
body {
	font: 16px system-ui, sans-serif;
	font-weight: normal;
}
.wrapper {
	max-width: 980px;
	width: 95%;
	margin: 0 auto;
}
.header {
	width: 100%;
	height: 52px;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
}
.posts {
	margin: 50px auto;
}
.post {
	border: 1px solid #dfdfdf;
	padding: 15px 15px;
}
.post-wrapper {
	display: flex;
	justify-content: space-between;
}
.post-user {
	display: flex;
}
.post-user-icon {
	width: 70px;
}
.post-user-icon img {
	width: 100%;
}
.post-user-username {
	position: relative;
	top: 20px;
}
.post-options::after {
	content: '⋮';
	width: 50px;
	height: 50px;
	font-size: 25px;
	position: relative;
	top: 10px;
}
.post-text {}
.post-image {
	position: relative;
	top: 25px;
	max-width: 980px;
	width: 100%;
	padding: 15px 0;
}
.post-image img {
	width: 100%;
}