@font-face {
	font-family: OpenSans-Regular;
	src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: OpenSans-Light;
	src: url('fonts/OpenSans-Light.ttf');
}
@font-face {
	font-family: OpenSans-Bold;
	src: url('fonts/OpenSans-Bold.ttf');
}
@font-face {
	font-family: OpenSans-SemiBold;
	src: url('fonts/OpenSans-SemiBold.ttf');
}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
}
body {
	font: 16px system-ui, sans-serif;
	font-weight: normal;
}
.wrapper {
	max-width: 620px;
	width: 95%;
	margin: 0 auto;
}
.header {
	width: 100%;
	height: 52px;
	border: 1px solid #dfdfdf;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.posts {
	margin: 50px auto;
}
.post {
	border: 1px solid #dfdfdf;
	padding: 15px 15px;
}
.post:not(:first-child) {
	border-top: none;
}
.post-wrapper {
	display: flex;
	justify-content: space-between;
}
.post-user {
	display: flex;
}
.post-user-icon {
	width: 70px;
}
.post-user-icon img {
	width: 100%;
}
.post-user-username {
	position: relative;
	/*top: 20px;*/
	top: 12px;
}
.post-user-username a {
	color: #333;
	text-decoration: none;
}
.post-box {
	display: flex;
	flex-direction: column;
}
.post-user-date {
	font-size: 12px;
	color: #7d7d7d;
	margin-top: 15px;
}
.post-options {
	position: relative;
}
.post-options::after {
	content: '⋮';
	width: 50px;
	height: 50px;
	font-size: 25px;
	position: relative;
	top: 10px;
	cursor: pointer;
}
.post-options:hover .post-options-menu {
	visibility: visible;
	transition: visibility .1s ease-in-out;
}
.post-options-menu {
	position: absolute;
	top: 5px;
	right: 0;
	width: 200px;
	border: 1px solid #dfdfdf;
	background: #fff;
	box-shadow: 1px 1px 1px 1px #6b6b6b14;
	border-radius: 5px;
	z-index: 10;
	visibility: hidden;
	transition: visibility .1s ease-in-out;
}
.post-options-menu ul {
	list-style: none;
}
.post-options-menu li {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
}
.post-options-menu a {
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 15px;
	text-decoration: none;
	color: #333;
}
.post-options-menu a:hover {
	background: #f1f1f1;
}
.post-options-edit::before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	background: url('https://img.icons8.com/metro/452/edit.png') no-repeat;
	background-size: 15px;
	padding: 0 12px;
}
.post-options-remove::before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	background: url('https://img.icons8.com/metro/452/delete.png') no-repeat;
	background-size: 15px;
	padding: 0 12px;
}
.post-options-abuse::before {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	background: url('https://img.icons8.com/ios-filled/452/stop-gesture.png') no-repeat;
	background-size: 15px;
	padding: 0 12px;
}
.post-text {}
.post-image {
	position: relative;
	top: 25px;
	max-width: 980px;
	width: 100%;
	padding: 15px 0;
}
.post-image img {
	width: 100%;
}

.post-actions {
	position: relative;
	top: 5px;
	width: 100%;
	height: 50px;
}
.post-actions-like {
	width: 30px;
	height: 30px;
	display: block;
	background: url('https://cdn-icons-png.flaticon.com/512/1077/1077035.png') no-repeat;
	background-size: 25px;
	position: absolute;
	top: 15px;
	left: 5px;
	cursor: pointer;
}
.post-actions-liked {
	width: 30px;
	height: 30px;
	display: block;
	background: url('https://cdn-icons-png.flaticon.com/512/1077/1077086.png') no-repeat;
	background-size: 25px;
	position: absolute;
	top: 15px;
	left: 5px;
	cursor: pointer;
}
.post-actions-comments {
	width: 30px;
	height: 30px;
	display: block;
	background: url('https://cdn-icons-png.flaticon.com/512/54/54916.png') no-repeat;
	background-size: 25px;
	position: absolute;
	top: 15px;
	left: 55px;
	cursor: pointer;
}
.post-actions-share {
	width: 30px;
	height: 30px;
	display: block;
	background: url('https://cdn-icons.flaticon.com/png/512/2550/premium/2550207.png?token=exp=1646307882~hmac=5c817186f80edee227e4fd6cee4f499e') no-repeat;
	background-size: 25px;
	position: absolute;
	top: 15px;
	left: 105px;
	cursor: pointer;
}
.post-actions-book {
	width: 30px;
	height: 30px;
	display: block;
	background: url('https://cdn-icons.flaticon.com/png/512/5662/premium/5662990.png?token=exp=1646307886~hmac=4f4f895ce169cc442ddf4a7d796c931f') no-repeat;
	background-size: 25px;
	position: absolute;
	top: 15px;
	right: 0px;
	cursor: pointer;
}

.post-more {
	position: relative;
	height: auto;
	padding-bottom: 10px;
}
.post-more-likes {
	margin-top: 20px;
}
.post-more-comments {
	margin-top: 18px;
}
.post-likes {
	font-family: OpenSans-Bold;
}